.grid {
  display: grid;
  grid-template-columns: 9fr 1.5fr 1.5fr;
  grid-gap: 1.3rem;
  width: 100%;
  font-family: "Open Sans";
  padding-right: 1rem;

  .grid-header {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .grid-first-column {
    padding-left: 2rem;
  }
}
